.detectPageWrapper {
  // border: solid;

  display: flex;
  flex-direction: column;
 

  .search-box {
    
    display: flex;
    // border: solid;
    justify-content: center;
    

    div{
      height: 100px;
      margin: 18px 0;

      margin: auto;
      width: 50%;
      // border:solid;
      display: flex;



      
      input {
        height: 60px;
        width: 100%;
        outline: none;
        padding: 0 15px;
        font-size: 17px;
        font-weight: 400;
        color: #333;
        border: 1.5px solid #c7bebe;
        border-bottom-width: 2.5px;
        border-radius: 6px;
        transition: all 0.3s ease;
        border: solid;
        display: block;
        margin: auto;
        width: 100%;
        text-align: center;
        
      }
      span{
        padding: 1rem;
        cursor: pointer;
      }
    }
    
     input:focus,
     input:valid {
      border-color: #4070f4;
    }
  }

 
}
